.knowledge-content{
  margin: 10px 30px;
  text-align: left;
}
.knowledge-write-title{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.knowledge-write-title h1{
  text-align: left;
  width: 90%;
  margin-left: 10px;
}
.knowledge-write-title span{
  text-align: right;
}
.ask{
  display: flex;
}
.ask h3{
  text-align: left;
  margin-left: 10px;
  width: 10%;
}
.ask span{
  text-align: right;
  line-height: 76px;
}
.ask-box{
  border: 1px solid black;
  font-size: large;
}
.category{
  width: 20%;
  height: 30px
}
.ask-box div{
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.ask-textarea input{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 90%;
}
input, textarea{
  font-size: large;
}
.ask-textarea textarea{
  width: 90%;
}
.file-attach{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px 20px;
}
.submit-knowledge{
  padding: 30px 50px;
  background-color: violet;
  color: white;
  font-size: larger;
}
.button-box{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}