.app{
  text-align: center;
  position: relative;
  width: 100vw;
}
.header{
  width: 100vw;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  background-color: rgb(178, 214, 189);
}
.main-nav{
  display: flex
}
.footer{
  bottom: 0;
  height: 200px;
  text-align: center;
  width: 100%;
}
.app > div{
  display: block;
}
.main{
  display: hidden;
}
ul li {
  list-style: none;
}
a{
  text-decoration: none;
}